<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- remixicon  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- style.css -->
    <link rel="stylesheet" href="style.css">
    <!-- signUp css  -->
    <link rel="stylesheet" href="signUp.css">
    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body data-theme="light">
    <form id="registration-form" action="/signUp" method="post">
        <h2 id="registration-form-title">Sign-Up</h2>
        <input type="text" name="username" class="form-input" placeholder="Enter User name" autocomplete="on" required>
        <br>
        <input type="email" name="email" class="form-input" placeholder="Enter your email" autocomplete="on" required>
        <br>
        <input type="password" name="password" class="form-input" placeholder="Create password" autocomplete="on" required>
        <br>
        <button type="submit" class="btn" id="registration-form-submit-btn">Sign-Up</button>
        <div>
            <label id="login-confirmation-text">Already have Account ?</label>
            <a href="/login" id="login-link">Login</a>
        </div>
    </form>
</body>

</html>